{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title_html %}
    Liste des appels
{% endblock %}
{% block content %}
    <h2>Liste des appels</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Contenu</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for list_calls in calls %}
            <tr>
                <th scope="row">{{ list_calls.title }}</th>
                <th scope="row">{{ list_calls.content }}</th>
                <th scope="row">{{ list_calls.created }}</th>
                <td>
                    <a class="btn btn-primary" href="{% url 'calls:update_teammember' call_id=list_calls.id %}" role="button">M'attribuer ce call</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %} 