{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title_html %}
    Liste des appels
{% endblock %}
{% block content %}
    <h2>Liste des appels</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Contenu</th>
                <th scope="col">Date</th>
                {% if user.user_type == 2 %}
                <th scope="col">Note</th>
                {% endif %}
                {% if request.user.is_superuser %}
                <th scope="col">Team member</th>
                {% endif %}
                <th scope="col">Résolu</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for list_calls in calls %}
            <tr>
                <th scope="row">{{ list_calls.title }}</th>
                <th scope="row">{{ list_calls.content }}</th>
                <th scope="row">{{ list_calls.created }}</th>
                {% if user.user_type == 2 %}
                <th scope="col">{{ list_calls.note }}</th>
                {% endif %}
                {% if request.user.is_superuser %}
                <th scope="col">{{ list_calls.teammember }}</th>
                {% endif %}
                <th scope="row">{{ list_calls.solved }}</th>
                {% if request.user.is_superuser %}
                <td>
                    <a class="btn btn-primary" href="{% url 'calls:update_call' call_id=list_calls.id %}" role="button">Edit l'appel</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="{% url 'calls:delete_call' call_id=list_calls.id %}" role="button">Supprimer</a>
                </td>
                {% endif %}
                {% if user.user_type == 2 %}
                <td>
                    <a class="btn btn-primary" href="{% url 'calls:update_call_client' call_id=list_calls.id %}" role="button">Edit l'appel</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %} 