{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title_html %}
    Liste des appels
{% endblock %}
{% block content %}
    <h2>Liste des appels non attribués</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Contenu</th>
                <th scope="col">Date</th>
                <th scope="col">Note</th>
            </tr>
        </thead>
        <tbody>
        {% for list_calls in calls %}
            <tr>
                <th scope="row">{{ list_calls.title }}</th>
                <th scope="row">{{ list_calls.content }}</th>
                <th scope="row">{{ list_calls.created }}</th>
                <th scope="row">{{ list_calls.note }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %} 